@font-face {
  font-display: swap;
  font-family: 'Articul';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Articul.542bbe19.woff2) format('woff2'),
    url(../fonts/Articul.171cfb87.woff) format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'DrukWide';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/DrukWideCyr-Medium.8982444d.woff2) format('woff2'),
    url(../fonts/DrukWideCyr-Medium.d6ba252f.woff) format('woff');
}
