$responsible-width: 1920;

$breakpoint-tablet: 992px;
$breakpoint-mobile: 767px;

$font: 'DrukWide';
$font-second: 'Articul';

$bg-body: #000;

$color-text: #ffffff;

$color-border-light: #ffffff;

$color-border-dark: #303030;

$color-primary: #c31e54;
